@import 'loaders.css/src/animations/line-scale-pulse-out.scss';

$height-button: 50px;
$opacity-shadow: 0.3;

@mixin setButtonStyle($background, $color) {
  background: $background;
  box-shadow: 0px 3px 8px rgba($background, $opacity-shadow);
  color: $color;

  &:hover {
    box-shadow: 0px 5px 8px rgba($background, $opacity-shadow);
  }

  &:active {
    box-shadow: 0px 0px 8px rgba($background, $opacity-shadow);
  }
}

.button {
  @include animation(0.25s);
  @extend %disable-outline;
  @extend %centerFlex;
  cursor: pointer;
  height: $height-button;
  line-height: $height-button;
  border-radius: 1000px;
  border: 0;
  background: white;
  font-size: 18px;
  font-weight: 500;

  .loader {
    transform: scale(0.7);
    margin-top: 2px;
  }

  &--green {
    @include setButtonStyle($green, white);
  }

  &--red {
    @include setButtonStyle($red, white);
  }

  &--purple {
    @include setButtonStyle($purple, white);
  }

  &--grey {
    @include setButtonStyle($grey, #313131);
  }

  &--blue {
    @include setButtonStyle($blue, white);
  }

  &--white {
    background: white;
    box-shadow: 0px 2px 15px rgba(black, 0.2);
    color: #414141;

    &:hover {
      box-shadow: 0px 2px 15px rgba(black, 0.3);
    }

    &:active {
      box-shadow: 0px 2px 15px rgba(black, 0.1);
    }
  }
}