.thumbnail-shadow {
  position: relative;

  img {
    &:nth-child(1) {
      position: relative;
      @include box(72px);
      border-radius: 5px;
      z-index: 1;
    }

    &:nth-child(2) {
      @include box(82px);
      position: absolute;
      top: 5px;
      left: -5px;
      z-index: 0;
      filter: blur(10px);
      opacity: 0.4;
    }
  }
}