.menu-item {
  position: relative;
  height: 30px;
  @extend %centerVerticallyFlex;
  cursor: pointer;
  color: $lightBlue;
  font-weight: 600;
  font-size: 16px;

  &:nth-child(n+2) {
    margin-top: 25px;
  }

  &_active {
    color: $darkBlue;

    &:before {
      @include size(5px, 100%);
      position: absolute;
      left: 0;
      content: '';
      background: $darkBlue;
      border-radius: 0 10px 10px 0;
    }
    
    &.menu-item_hideLeft {
      &:before {
        display: none;
      }
    }
  }

  svg {
    margin-right: 25px;
    margin-left: 35px;
  }
}