.track {
  @include animation(0.15s);
  @include size(100%, 80px);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;

  &.amplitude-playing {
    background: $blue;
    box-shadow: 0px 5px 20px rgba(73, 139, 216, 0.26);

    span {
      color: white;
    }

    svg {
      stroke: white;
      fill: white;
    }
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(116, 116, 116, 0.1);
  }

  span {
    display: inline-block;
    color: $lightBlue;
    font-weight: 500;
    font-size: 16px;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__cover {
    @include box(60px);
    border-radius: 5px;
    flex-shrink: 0;
    object-fit: cover;
  }

  &__play {
    margin-left: 30px;
  }

  &__title {
    margin-left: 15px;
    width: 30%;
  }

  &__artist {
    width: 30%;
  }

  &__album {
    width: 30%;
  }

  &__duration {
    width: 10%;
  }

  svg {
    margin-right: 15px;
    stroke: $lightBlue;
  }
}