@mixin defaultVectorStyle($stroke, $deg) {
  stroke: $stroke;
  transform: rotate($deg);
  stroke-width: 1px;
}

@mixin setVectorStyleTopLeft($width, $height, $top, $left, $stroke, $deg) {
  @include size($width, $height);
  @include topLeft($top, $left);
  @include defaultVectorStyle($stroke, $deg);
}

@mixin setVectorStyleTopRight($width, $height, $top, $right, $stroke, $deg) {
  @include size($width, $height);
  @include topRight($top, $right);
  @include defaultVectorStyle($stroke, $deg);
}

@mixin setVectorStyleBottomRight($width, $height, $bottom, $right, $stroke, $deg) {
  @include size($width, $height);
  @include bottomRight($bottom, $right);
  @include defaultVectorStyle($stroke, $deg);
}

@mixin setVectorStyleBottomLeft($width, $height, $bottom, $left, $stroke, $deg) {
  @include size($width, $height);
  @include bottomLeft($bottom, $left);
  @include defaultVectorStyle($stroke, $deg);
}

.auth-vectors {
  position: absolute;
  width: 100%;

  > * {
    position: absolute;
  }

  img {
    &:nth-child(1) {
      top: 0;
      right: 0;
    }

    &:nth-child(2) {
      bottom: 0;
      left: 0;
    }
  }

  svg {
    // Stars
    &:nth-child(3) {
      @include setVectorStyleTopLeft(44px, 42px, 66px, 596px, #98BE00, -40deg);
    }

    &:nth-child(4) {
      @include setVectorStyleTopRight(44px, 42px, 60px, 586px, #DB1313, -37deg);
    }

    &:nth-child(5) {
      @include setVectorStyleTopLeft(44px, 42px, 421px, 464px, #DB1313, 10deg);
    }

    &:nth-child(6) {
      @include setVectorStyleTopLeft(44px, 42px, 524px, 142px, #98BE00, -12deg);
    }

    &:nth-child(7) {
      @include setVectorStyleBottomRight(44px, 42px, 434px, 151px, #98BE00, -100deg);
    }

    // squares
    &:nth-child(8) {
      @include setVectorStyleTopLeft(46px, 46px, 200px, 275px, #00FF75, -30deg);
    }

    &:nth-child(9) {
      @include setVectorStyleTopLeft(65px, 1px, 210px, 461px, #C750C0, -16deg);
    }

    &:nth-child(10) {
      @include setVectorStyleTopRight(64px, 32px, 292px, 300px, #00AAA0, 64deg);
    }

    &:nth-child(11) {
      @include setVectorStyleTopRight(64px, 1px, 442px, 328px, #C750C0, 14deg);
    }

    &:nth-child(12) {
      @include setVectorStyleBottomLeft(23px, 23px, 405px, 396px, #7033D4, 24deg);
    }

    // circles
    &:nth-child(13) {
      @include setVectorStyleBottomLeft(50px, 50px, 116px, 323px, #C750C0, 14deg);
    }

    &:nth-child(14) {
      @include setVectorStyleBottomRight(26px, 26px, 405px, 401px, #DB1313, 24deg);
    }
  }
}