.login-form {
  max-width: 600px;
  margin: 0 auto;

  &__title {
    font-weight: 500;
    margin-top: 25px;
    color: white;
    font-size: 24px;
  }

  &__form {
    width: 100%;
    @extend %centerFlex;
    flex-direction: column;
    margin-top: 20px;

    > div {
      width: 100%;
    }
  }

  > .row {
    @extend %centerFlex;
    flex-direction: column;

    > * {
      z-index: 1;
    }

    &:nth-child(1) {
      position: relative;
      z-index: 1;

      button {
        width: 40%;
        margin: 35px auto;
      }

      &:before {
        position: absolute;
        content: '';
        @include box(100%);
        @include topLeft(0, 0);
        border-radius: 10px 10px 0px 0px;
        z-index: -1;
        background: url('../../../img/Background.jpg') 100% 100% no-repeat;
        background-size: cover;
      }

      &:after {
        position: absolute;
        content: '';
        @include box(100%);
        @include topLeft(0, 0);
        border-radius: 10px 10px 0px 0px;
        z-index: 0;
        background: linear-gradient(50deg, #B54EE5 0%, rgba(65, 0, 251, 0.61) 100%);
      }
    }

    &:nth-child(2) {
      button {
        width: 80%;
        margin: 30px auto;
      }
    }
  }

  .input-container {
    width: 80%;
    margin: 25px auto;
  }

  &__try-register {
    text-align: center;
    margin-top: 0px;

    strong {
      color: $green;
      cursor: pointer;
      font-weight: 400;
    }
  }
}