.menu-group {
  padding-top: 30px;

  &__title {
    font-size: 18px;
    color: $lightBlue;
    margin-top: 0;
    margin-left: 35px;
    font-weight: 700;
  }

  &__list {
    margin-top: 30px;
  }
}