.current-track {
  @extend %centerVerticallyFlex;

  svg {
    cursor: pointer;
  }

  &__repeat, &__shuffle {
    @include size(21px, 14px);
    stroke: #838383;
  }

  &__repeat {
    margin-right: 40px;
  }

  &__back, &__next {
    @include size(21px, 24px);
    stroke: $darkBlue;
  }

  &__play {
    @include box(60px);
    stroke-width: 1;
    stroke: $darkBlue;
    margin: 0 45px;
  }

  &__shuffle {
    margin-left: 40px;

    &_random {
      stroke: $darkBlue;
    }
  }
}