.tracks {
  @extend %centerHorizontallyFlex;
  background: white;
  padding: 0 !important;

  > div {
    width: 100%;
    margin-bottom: 105px;
    overflow-y: auto;

    > h4 {
      font-size: 20px;
      color: $darkBlue;
      margin-left: 55px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
  }
}