.authorize {
  background: #EEEEEE;
  height: 100%;

  .row {
    height: 100%;

    > div {
      height: 100%;
    }
  }

  &__middle {
    @extend %centerFlex;
    flex-direction: column;
  }

  &__card {
    @include size(100%, 540px);
    padding: 0 15px;
  }

  .api-message {
    position: absolute;
    top: 120px;
  }
}