.player {
  @include box(100%);
  @include maxSize(100%, 100%);
  background: url('../img/Background.jpg') center center;
  background-size: 100% 100%;

  > .container-fluid {
    height: 100%;
    padding: 0;

    > .row {
      height: 100%;
      padding: 0;
      
      > div {
        height: 100%;
        padding: 0;
      }
    }
  }

  .right-container {
    position: relative;
    padding: 0;
    height: 100%;

    > .row {
      height: 100%;

      &:nth-child(2) {
        @include size(100%, 100px);
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(241, 241, 241, 0.97);
      }
    }
  }
}