// ------------- SIZE --------------
// Rect
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// Box
@mixin box($size) {
  @include size($size, $size);
}

@mixin minSize($width, $height) {
  min-width: $width;
  min-height: $height;
}

@mixin minBox($width) {
  min-width: $width;
  min-height: $width;
}

@mixin maxSize($width, $height) {
  max-width: $width;
  max-height: $height;
}

@mixin maxBox($width) {
  max-width: $width;
  max-height: $width;
}
// ---------------------------------

// ------------- TABLE ------------
@mixin setGridCell($row, $column) {
  grid-row: $row;
  grid-column: $column;
}


// ------------ POSITION ------------
%centerHorizontallyFlex {
  display: flex;
  justify-content: center;
}

%centerVerticallyFlex {
  display: flex;
  align-items: center;
}

%centerFlex {
  @extend %centerHorizontallyFlex;
  @extend %centerVerticallyFlex;
}

%centerVerticallyAbsolute {
  top: 50%;
  transform: translateY(-50%);
}

%centerHorizontallyAbsolute {
  left: 50%;
  transform: translateX(-50%);
}

%centerAbsolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%disable-outline {
  &:focus {
    outline: none;
  }
}

// Absolute posotion
@mixin topLeft($top, $left) {
  top: $top;
  left: $left;
}

@mixin topRight($top, $right) {
  top: $top;
  right: $right;
}

@mixin bottomLeft($bottom, $left) {
  bottom: $bottom;
  left: $left;
}

@mixin bottomRight($bottom, $rignt) {
  bottom: $bottom;
  right: $rignt;
}
// ----------------------------------

@mixin animation($time, $easing: ease-out) {
  transition: all $time $easing;
}
