.tracks-legend {
  display: flex;
  padding: 0 20px;

  span {
    max-width: 80%;
    display: block;
  }

  div {
    &:nth-child(1) {
      
    }

    &:nth-child(2) {
      width: 30%;
      margin-left: 35px;
    }

    &:nth-child(3) {
      width: 30%;
    }

    &:nth-child(4) {
      width: 30%;
    }

    &:nth-child(5) {
      width: 10%;
    }
  }
}