.card {
  background: white;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.45);
  border-radius: 20px;
  padding: 15px;

  &__title {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    margin-top: 25px;
  }
}