.player-control {
  height: 100%;
  align-items: center;

  &__info {
    display: flex;

    > div {
      &:nth-child(2) {
        @extend %centerHorizontallyFlex;
        flex-direction: column;
        margin-left: 50px;
      }
    }
  }

  &__title {
    margin: 0;
    color: $darkBlue;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 223px;
  }

  &__artist {
    color: $lightBlue;
    font-size: 14px;
    font-weight: 600;
  }

  &__panel {
    @extend %centerVerticallyFlex;
    flex-direction: column;
  }
}