@mixin setTextStyle($color) {
  span {
    color: $color;
  }
}

.api-message {
  &_type {
    &_success {
      @include setTextStyle($green);
    }

    &_error {
      @include setTextStyle($red);
    }

    &_warning {
      @include setTextStyle($blue);
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}