$input-backgorund: white;

.input-container {
  @extend %centerVerticallyFlex;
  position: relative;
  background: $input-backgorund;
  border-radius: 1000px;
  height: 50px;

  &::placeholder {
    color: $grey;
    font-size: 16px;
  }

  svg {
    @include animation(0.25s);
    position: absolute;
    stroke: $grey;
    left: 25px;
  }

  input {
    @include size(100%, 60%);
    @extend %disable-outline;
    margin-left: 65px;
    margin-right: 45px;
    color: $grey;
    font-size: 16px;
    background: $input-backgorund;
    border: 0;

    &:focus {
      ~ svg {
        left: 20px;
        stroke: $green;
      }
    }
  }
}